[color]
	ui = true
[user]
	name = Kevin Bongers
	email = kevin.bongers@spilgames.com
[core]
	editor = vim
	autocrlf = input
[alias]
	s = status -sb
	fa = fetch --all
	po = pull origin
	pom = pull origin master
	plog=log --color --date=short --graph --pretty=format:\"%h %Cgreen%an%Creset %cd%Cblue%d %Cred%s\"
